@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 93.75%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 5rem;
  color: #937b92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  min-height: 100vh;
}

@media only screen and (max-width: 68.75em) {
  body {
    padding: 1.5rem 2.5rem;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[2];
      grid-template-columns: repeat(2, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  row-gap: 1.5rem;
}

@media only screen and (max-width: 48em) {
  .container {
    -ms-grid-columns: minmax(min-content, 1fr);
        grid-template-columns: minmax(-webkit-min-content, 1fr);
        grid-template-columns: minmax(min-content, 1fr);
    -ms-grid-rows: (min-content)[4];
        grid-template-rows: repeat(4, -webkit-min-content);
        grid-template-rows: repeat(4, min-content);
  }
}

.cards {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: min-content minmax(min-content, 20rem);
      grid-template-rows: -webkit-min-content minmax(-webkit-min-content, 20rem);
      grid-template-rows: min-content minmax(min-content, 20rem);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media only screen and (max-width: 48em) {
  .cards {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    display: block;
    margin-top: 2rem;
  }
}

.card {
  padding: 2rem;
  background-color: #502050;
  border-radius: 0.75rem;
  grid-row: 1 / -1;
}

@media only screen and (max-width: 48em) {
  .card:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.card__person {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.card__name {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: rgba(255, 255, 255, 0.9);
}

.card__verify {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: rgba(255, 255, 255, 0.3);
}

.card__comment {
  margin-top: 1.5rem;
  color: #f7f2f7;
}

.colton {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.irene {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.anne {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 48em) {
  .header {
    grid-column: 1 / -1;
    text-align: center;
  }
}

.header__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #502050;
  width: 60%;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}

@media only screen and (max-width: 48em) {
  .header__title {
    width: 100%;
  }
}

.header__paragraph {
  width: 70%;
}

@media only screen and (max-width: 48em) {
  .header__paragraph {
    width: 100%;
  }
}

.reviews {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(max-content, 1fr);
      grid-template-columns: minmax(-webkit-max-content, 1fr);
      grid-template-columns: minmax(max-content, 1fr);
  row-gap: 1rem;
}

@media only screen and (max-width: 48em) {
  .reviews {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: block;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  background-color: #f7f2f7;
  padding-left: 2rem;
  padding-right: 3rem;
  border-radius: 0.75rem;
}

@media only screen and (max-width: 48em) {
  .review {
    padding: 1rem 0;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(min-content, max-content))[5];
        grid-template-columns: repeat(5, minmax(-webkit-min-content, -webkit-max-content));
        grid-template-columns: repeat(5, minmax(min-content, max-content));
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    row-gap: 0.5rem;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.review:nth-child(1) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.review:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.review:nth-child(3) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.review__star {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 48em) {
  .review__star {
    margin-right: 0;
  }
}

.review__rated {
  font-weight: 700;
  color: #502050;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 48em) {
  .review__rated {
    grid-column: 1 / -1;
    text-align: center;
    margin-left: 0;
  }
}

.footer {
  grid-column: 1 / -1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */